#price-slider {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.price-values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.price-values span {
    font-weight: bold;
}

.price-slider-container .btn.submit {
    margin-top: 10px;
}

#price-slider .ui-slider-handle {
    width: 1.5em;
    height: 1.5em;
    background-color: #5a5a5a;
    border-radius: 50%;
}
